body{
    background-color: white ;
    color: #252424;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    left: 0;
    margin:0 ;
    scroll-behavior: smooth;
}
/* Header */
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0,0,0,0.05);
    z-index: 1000;
}
.logo{
    color: #333;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.logo:hover{
    font-size: 2em;
    transition: 2s;
}
strong{
    color: green;
}
.grupa{
  display: flex;
  align-items: center;
}
header ul{
    position: relative;
    display: flex;
    gap: 30px;
    right: 100px;
}
header ul li{
    list-style: none;
}
header ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
header ul li a::before{
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: green;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

header ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
    color: green;
}
/* o mnie */
.start{
    width: auto;
    height: 600px;
    background-color: #DCC1AB;
    justify-content: space-between;
    left: 0;
}
h1{
    font-size: 50px;
}
.Text{
    margin-top: 100px;
    margin-left: 50px;
    width: 40%;
    overflow-wrap: break-word;
    float: left;
    text-align: left;
}
.img1{
    float: right;
    height: 600px;
    padding-right: 10px;
}

.btn1, .btn2, .btn3, .btn4, .btn5{
    background: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    padding: 8px 18px;
    width: fit-content;
    border: 0;
}
.btn1{
    background-color: green;
    color: white;
    border: green 1px solid;
    margin: 20px;
}
.btn1:hover{
    background:none;
    color: green;
    border: green 1px solid;
    margin: 20px;
    transition: 1s;
}
.btn2{
    background: none;
    color: green;
    border: green 1px solid;
}
.btn2:hover{
    background-color: green;
    color: white;
    border: green 1px solid;
    transition: 1s;
}
/* Doświadczenie */
#doswiadczenie{
    position: relative;
    top: -50px;
    height: auto;
    color: black;
    background-color: #F5F0EC;
}
.blok1h{
    padding-top: 100px;
    margin-left: 100px;
}
.wstep  .blok1p{
    height: 72px;
    width: 30%;
    overflow-wrap: break-word;
    margin: 50px;
    margin-left: 100px;
}
/* Karty */
.cards
{
    padding-left: 100px;
    display: flex;
    text-align: left;
    align-items: center;
    display: inline-flex;
    gap: 100px;
}
.card
{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 25%;
    padding: 30px;
    font-size: 14px;
    float: left;
    margin-bottom: 100px;
}
.card:hover{
    background-color: green;
    color: white;
    transition: 1s;
}
/* Karty progress bar */
.skill{
    width: 220px;
}
.skill li{
    list-style: none;
    padding-top: 10px;
}
.bar{
    background: #fff;
    display: block;
    height: 20px;
    border: 1px none rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar span{
    height: 20px;
    float: left;
    background: rgb(16, 187, 16);
}

.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 75%;
    animation: css 3s;
}
.js{
    width: 30%;
    animation: js 3s;
}
.reactjs{
    width: 5%;
    animation: reactjs 3s;
}
.php{
    width: 20%;
    animation: php 3s;
}
.sql{
    width: 80%;
    animation: sql 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
@keyframes js{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}
@keyframes reactjs{
    0%{
        width: 0%;
    }
    100%{
        width: 5%;
    }
}
@keyframes php{
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}
@keyframes sql{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
